.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffe600;
    padding-top: 9px;
    padding-bottom: 10px;
    gap: 12px;
    padding-left: 80px;
}

.topRow{
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 15%;
}

.logo{
    width: 134px;
    height: 34px;
    padding-right: 50px;
}

.searchBarContainer{
    width: 37%;
}

.searchBar{
    display: flex;
    border-radius: 2px;
    width: 100%;
    font-size: 16px;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
}

.starPlus{
    padding-left: 150px;
    height: 38px;
}


.bottomRow{
    display: flex;
    justify-content: center;
    align-items: center;
}