.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffe600;
    padding-top: 9px;
    padding-bottom: 10px;
    gap: 12px;
    padding-left: 80px;
    font-family: 'Mulish';
}

/* TOP ROW */

.topRow{
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 15%;
}

.logo{
    width: 134px;
    height: 34px;
    padding-right: 50px;
}

.searchBarContainer{
    width: 37%;
}

.searchBar{
    display: flex;
    border-radius: 2px;
    width: 100%;
    font-size: 16px;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.starPlus{
    padding-left: 150px;
    height: 38px;
}

/* BOTTOM ROW */

.bottomRow{
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 15%;
}

.direccion{
    display: flex;
    flex-direction: column;
    padding-right: 93px;
}

.direccion:hover{
    cursor: pointer;
}

.enviarA{
    font-size: 11px;
}

.ciudad{
    font-size: 13px;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 13px;
    padding-right: 125px;
}

.menuItem:hover{
    cursor:pointer;
}

.cuentaContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    gap: 19px;
}

.carritoImagen{
    height: 20px;
}